# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
.venv/
env/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Environment variables
.env

# ML model files
*.pt
*.pth
*.onnx

# Large datasets
*.zip
*.csv

# OS
.DS_Store
Thumbs.db
training_centre.db
__pycache__/